<h1>Blog App</h1>

<%= render 'partials/user', user: @user %>
<div class='bio'><%= @user.bio %></div>
<ul class='user-post-list'>
<% if @user.recent_posts.empty? %>
  <p class='no-posts'>No posts</p>
<% else %>
  <% @user.recent_posts.each do |post| %>
    <li>
      <%= render 'partials/post', post: post %>
    </li>
  <% end %>
<% end %>
</ul>
<div>
  <%= form_with model: @post, class:'form', url: user_posts_path(@user) do |form| %>
    <%= form.label :title, class: 'post_label' %>
    <%= form.text_field :title, required: true, class:'post_title' %>
    <%= form.label :text, class: 'post_label' %>
    <%= form.text_area :text, required: true, class:'post_text' %>
    <%= form.submit "Add Post", class: 'post_btn' %>
  <% end %>
</div>
<div class='content-view-all-post-btn'>   
  <%= link_to "View all posts", user_posts_path(@user), class: 'view-all-post-btn' %>
</div>
